/* Colocando a imagem de fundo do container banner e diminuindo a opacidade */
#banner-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(../assets/banner.jpeg) center/cover no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 2px solid black;
}

#artista-title {
    transition: font-size 4s ease;
}

/* Animacao no titulo e na borda do banner */
#banner-container:hover{
    border: 3px solid #202529ff;
    
    #artista-title {
        font-size: 100px;
    }
}

/* Fontes importadas */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 90px;
    font-style: normal;
  }

.nunito-sans-custom {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.btn-custom-color{
    background-color: #00cf64ff;
    color: white;
    font-weight: 800;
}
