#banner{
    border: 2px solid 000000ff;
}

/* Colocando a imagem de fundo do container banner e diminuindo a opacidade */
#banner-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(../assets/banner.jpeg) center/cover no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 2px solid #202529ff;
}

#artista-title {
    transition: font-size 4s ease;
}

/* Animacao no titulo e na borda do banner */
#banner-container:hover{
    border: 3px solid rgba(145, 145, 145, 0.7);
    
    #artista-title {
        font-size: 100px;
    }
}

/* Fontes importadas */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 90px;
    font-style: normal;
  }

.nunito-sans-custom {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.btn-custom-color{
    background-color: #00cf64ff;
    color: white;
    font-weight: 800;
}

/* Capas de Álbuns */

.album-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1400px;
    margin: auto;
}

.album {
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.album img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.album p {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.albuns-titulo {
    text-align: center;
    color: white;
    font-weight: 400;
    margin-top: 10px;
    padding: 10px;
}